
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.header.project-root-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: @tab-height;
  padding-left: 5px;
  line-height: @tab-height !important;
  background: darken(@tree-view-background-color, 5%);
}

.tree-view {
  color: @text-color;
  background-color: @tree-view-background-color;
  padding: @tab-height 0 0 0;

  .list-item.selected {
    color: @text-color-selected;
  }
}
